<nav class="navbar">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li><%= link_to "Sales", root_path, class:"nav-link" %></li>
        <li><%= link_to "Add Sale", new_sale_path, class:"nav-link" %></li>
        <li><%= link_to "Products", products_path, class:"nav-link" %></li>
        <li><%= link_to "Add Product", new_product_path, class:"nav-link" %></li>
        <li><%= link_to "About", about_path, class:"nav-link" %></li>
        <li><%= link_to "Weekly Reports", weekly_reports_path, class:"nav-link" %></li>
        <li><%= link_to "Monthly Reports", monthly_reports_path, class:"nav-link" %></li>
        <li><%= link_to "Prediction", prediction_path, class:"nav-link" %></li>
      </ul>
    </div>
  </div>
</nav>