<div class="container">
	<h1>New Product</h1>

	<%= form_with model: @product, url:products_path, scope: :product do |form| %>
	  <div>
	    <%= form.label :name %><br>
	    <%= form.text_field :name %>
	  </div>

	  <div>
	    <%= form.label :stock %><br>
	    <%= form.text_field :stock %>
	  </div>

	  <div>
	    <%= form.label :price %><br>
	    <%= form.text_field :price %>
	  </div>

	  <div>
	    <%= form.submit %>
	  </div>
	<% end %>
</div>