<div class="container">
	<h1>PhpSalesRecordManagment Sales</h1>
	<p>Search Sales</p>
	<!-- SEARCH BAR -->
	<div class="">
	  <div class="">
	    <div class=""></div>
	    <input size="40" type="text" placeholder="Search product or time (YYYY-MM-DD)" confirm-type="search" id="search"></input>
	  </div>
	  <br>
	  <div class="button-container">
	    <div class="btn btn-default" id="searchButton">Search</div>
	  </div>
	  <br>
	</div>
	<%= link_to "Add Sale", new_sale_path, class: "btn" %>
	<% @sales.each do |sale| %>
		<div class="sales-container">
			<h2>ID:<%= sale.id %> Sale at <%= sale.saleTime %></h2>
			<div class="sales-info">
				<% sale.sale_items.each_with_index do |si, ind| %>
					<h3><%= "Item #{ind + 1}: #{si.product.name}" %></h3>
					<p><%= si.quantity %> at $<%= sprintf('%.2f', (si.product.price/100).to_f) %> = $<%= sprintf('%.2f', (si.total_cents).to_f/100) %></p>
				<% end %>
				<h2>$<%= sprintf('%.2f', (sale.total_price).to_f/100) %></h2>
			</div>
		</div>
	<% end %>
</div>

<div class="button-container">
<h3>Download CSV</h3>
<%= link_to "download", root_path(format: "csv"), class: 'btn btn-default' %>

</div>